#grid {
  border: 1px solid red;
  position: relative;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0; /* Clears unordered list default of 40px */
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 12.85714285714286%;
  padding: 0 0 14.87860145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}

#grid li * {
  visibility: visible;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(60, 83, 103);
  background-size: 100%;
  background-repeat: no-repeat;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}

#grid li:nth-child(1n + 1) {
  margin: 0.5%;
}

#grid li:nth-child(14n + 8),
#grid li:nth-child(14n + 9),
#grid li:nth-child(14n + 10),
#grid li:nth-child(14n + 11),
#grid li:nth-child(14n + 12),
#grid li:nth-child(14n + 13),
#grid li:nth-child(14n + 14) {
  margin-top: -2.9285714285%;
  margin-bottom: -2.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(14n + 8) {
  margin-left: 1%;
}

.character__selection {
  border: 1px solid black;
  width: 1000px;
  margin: 0 auto;
}

.character__selection img {
  margin: 3px;
  border-radius: 3px;
}

.border1 {
  border: 3px outset rgb(173, 169, 169);
}

.border2 {
  border: 3px outset rgb(71, 216, 144);
}

.border3 {
  border: 3px outset rgb(74, 124, 232);
}

.border4 {
  border: 3px outset magenta;
}

.border5 {
  border: 3px outset goldenrod;
}

.items {
  position: absolute;
  z-index: 1000000;
  border: 1px solid red;
}

.test_image {
  width: 50px !important;
  height: 50px;
}

.hexagon {
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}
.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
.hexagon-in2 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://2.bp.blogspot.com/-yqlwTX9k5JM/WwRw0eXbVbI/AAAAAAABAEY/D7uJvNyc0xMLrThbJES2dKgt-P15KMswQCLcBGAs/s1600/3521.jpg);
  background-size: 120%;
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon2 {
  width: 200px;
  height: 400px;
  margin: -80px 0 0 20px;
}
