body {
  background-color: rgb(255, 242, 242);
}

.HomePage__Container {
  margin: 40px 150px 0 150px;
}

.BuildContainer__Meta {
  margin: 30px 50px 0 50px;
  text-align: center;
}

.metaTitle {
  color: #211d32;
}

.BuildContainer__Carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 0px;
  grid-template-areas: ". . . . . .";
}
