main {
  display: flex;
}

.signup {
  width: 25%;
  height: auto;
  border: 1px solid black;
}

img {
  width: 500px;
}

.signup form {
  width: 200px;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
