main {
  display: flex;
}

.logIn__right {
  text-align: center;
  position: fixed;
  margin-left: 1000px;
  margin-top: 200px;
}

.signup {
  width: 25%;
  height: auto;
  border: 1px solid black;
}

img {
  width: 500px;
}

h1 {
  margin-top: -10px;
  margin-bottom: 60px;
  color: #9f6c35;
  font-weight: 700;
}

.signup form {
  width: 200px;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
