main {
  display: flex;
}

.loginButton {
  width: 70px;
  height: 28px;
  background-color: #9f6c35;
  color: white;
}

.loginForm__div {
  text-align: -webkit-center;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}

.logIn__right {
  border: 2px solid black;
  text-align-last: center;
  overflow: "scroll";
}

.signUpPrompt {
  margin: 10px;
}

.signup {
  height: 550px;
  width: 500px;
  position: fixed;
  z-index: 1;
  margin-top: -550px;
  background-color: white;
  border: 1px solid black;
}

img {
  width: 500px;
}

h1 {
  color: #9f6c35;
  font-weight: 700;
}

.signup form {
  width: 200px;
  padding: 10px;
}
