.Preview {
  margin: 2px;
  border: 1px solid #9e6c36;
  min-width: 90%;
  border-radius: 5px;
  padding: 5px;
  background: rgb(255, 243, 228);
}

.champPreview {
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 5px;
  border: 1px solid black;
}

.itemPreview {
  width: 1em;
  margin: 2%;
  border-radius: 2px;
}
