.sidebar {
  position: static;
  margin: -10px;
  height: 101vh;
  width: 30vw;
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  transition: all 3s ease-in-out;
  border-right: 1px solid black;
}

.Ninja {
  background-image: url("../Assets/Traits/Ninja.jpg");
}

.Mage {
  background-image: url("../Assets/Traits/Mage.jpg");
}

.Keeper {
  background-image: url("../Assets/Traits/Keeper.jpg");
}

.Mystic {
  background-image: url("../Assets/Traits/Mystic.jpg");
}

.Adept {
  background-image: url("../Assets/Traits/Adept.jpg");
}

.Spirit {
  background-image: url("../Assets/Traits/Spirit.jpg");
}

.Dazzler {
  background-image: url("../Assets/Traits/Dazzler.jpg");
}

.Divine {
  background-image: url("../Assets/Traits/Divine.jpg");
}

.Default {
  background-image: url("../Assets/Traits/Default.jpg");
}
