.card_container {
  width: 200px;
  height: 410px;
  border: 4px outset rgb(218, 205, 205);
  border-radius: 3px;
}

.test {
  opacity: 0.89;
  max-width: 220px;
  height: 410px;
}

.test:hover {
  opacity: 1;
}

.text {
  color: white;
  text-shadow: 0 0 2.5px #000000;
  font-weight: 900;
  position: absolute;
  text-align: center;
  margin-top: -390px;
  float: right;
  width: 200px;
  height: 410px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text > h5 {
  margin-top: -25px;
  color: rgb(244, 189, 189);
  text-shadow: 0 0 3px #070707;
}

.text_utility {
  color: white;
  text-shadow: 0 0 3px #070707;
  position: absolute;
  margin-top: -250px;
  text-align: center;
  max-width: 200px;
}
