.profile__topbar {
  display: flex !important;
  border: 1px solid black;
}

.profile_details {
  margin-block-start: auto;
  display: flex;
}

.profile__statbar {
  display: flex;
}

.profile__image {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: -50px;
  margin-left: 30px;
  z-index: 9999;
}

.fuwa {
  background-image: url("../Assets/fuwa.png");
  background-size: 200px;
  border-radius: 100px;
  border: 1px solid white;
}

.Profile__Container {
  margin: 40px 150px 0 150px;
}

.BuildContainer {
  margin: 30px 50px 0 50px;
  text-align: center;
}

.build_carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . . . . .";
}
