@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

img {
  width: 50%;
}

.sidebar {
  position: absolute;
  margin: -10px;
  height: 100vh;
  width: 68vw;
  background-size: 100%;
  background-repeat: no-repeat;
  border-right: 2px solid #9f6c35;
}

body {
  font-family: Cinzel;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.b1 {
  border: 3px solid red;
}

.b2 {
  border: 3px solid blue;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}
