@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

img {
  width: 50%;
}

.b_blue {
  color: #0079d0;
}

.b_green {
  color: green;
}

.b_red {
  color: rgb(208, 16, 16);
}

.action {
  font-family: Anton, sans-serif;
  margin: 2px;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height: 32px;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.action:hover {
  box-shadow: 1px 1px #b6b6b6, 2px 2px #b6b6b6, 3px 3px #b6b6b6;
  transform: translateX(-3px);
}

.sidebar {
  position: absolute;
  margin: -10px;
  height: 100vh;
  width: 68vw;
  background-size: 100%;
  background-repeat: no-repeat;
  border-right: 2px solid #9f6c35;
}

body {
  font-family: Cinzel;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.b1 {
  border: 3px solid red;
}

.b2 {
  border: 3px solid blue;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}
