@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

img {
  width: 50%;
}

.sidebar {
  position: absolute;
  margin: -10px;
  height: 100vh;
  width: 68vw;
  background-size: 100%;
  background-repeat: no-repeat;
  border-right: 2px solid #9f6c35;
}

body {
  font-family: Cinzel;
}
