.Mini__Container--Top {
  width: 100%;

  justify-content: space-around;
}

.mini-synergy-gallery {
  display: flex;
}

.mini-hexagon-gallery {
  margin: auto;
  padding: 20px 55px 0px 7px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
